@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.back-button i {
  color: #42c7c1;
  font-size: 17px;
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #42c7c1;
  transition: .3s;
}

.back-button i:hover {
  background: #42c7c1;
  color: #fff;
}

/* CUSTOM STYLE */
textarea {
  resize: none;
}
.nav-link {
  text-transform: uppercase;
}
.nav-link.active {
  color: #42c7c1 !important;
}

.btn {
  padding: 8px 25px;
}
.btn:focus {
  box-shadow: none !important;
}

.btn-uppercase {
  text-transform: uppercase;
  font-size: 15px;
}
.btn-custom {
  background-color: #42c7c1 !important;
}
.btn-outline-custom {
  border: 1px solid #42c7c1 !important;
  background-color: transparent !important;
  color: #eef1f5;
}
.btn-custom:hover, .btn-outline-custom:hover {
  color: #212529 !important;
  transition: 0.3s;
  background-color: #3bafa9 !important;
}

.btn-outline-custom.hover-custom:hover, .btn-custom.hover-custom:hover {
  color: white !important;
}
.text-custom {
  color: #42c7c1 !important;
}
.bg-custom {
  background-color: #42c7c1 !important;
}

a.navbar-brand,
.card-link {
  color: #42c7c1 !important;
}

/* JUMBOTRON */
.jumbotron {
  background-image: url(~@/assets/images/hero-img.jpg);
  background-size: cover;
  position: relative;
  height: 555px;
  background-repeat: no-repeat;
  background-position-y: -25px;
  background-attachment: fixed;
  margin-top: 62px;
}

.jumbotron::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.jumbotron .container {
  position: absolute;
  z-index: 999;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron .container h1 {
  font-size: 55px;
}

/* END JUMBOTRON */

/* CAROUSEL */
#bannerCarousel.carousel {
  height: 600px !important;
  position: relative;
}

#bannerCarousel .carousel-inner {
  border-radius: 10px;
}

#bannerCarousel .carousel-inner::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 1;
}

.carousel-caption, .carousel-indicators, .carousel-control-prev, .carousel-control-next {
  z-index: 2;
}

.carousel-caption h4 {
  background-color: #42c7c1;
  display: inline-block;
  font-weight: bold;
  padding: 5px 10px;
}

.carousel-item1,
.carousel-item2,
.carousel-item3 {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-item .carousel-item1 {
  background-image: url(~@/assets/images/banner-image1.jpg);
}

.carousel-item .carousel-item2 {
  background-image: url(~@/assets/images/banner-image2.jpg);
}

.carousel-item .carousel-item3 {
  background-image: url(~@/assets/images/banner-image3.jpg);
  background-position-y: -100px;
}

/* SMALL BANNER */
.small-banner {
  position: relative;
  overflow: hidden;
  max-width: 345px;
}

.small-banner img {
  transition: 0.4s;
  filter: grayscale(1);
  cursor: pointer;
}

.small-banner img:hover {
  filter: grayscale(0);
  transform: scale(1.4);
}

.banner-label {
  transition: 0.4s;
  position: absolute;
  font-size: 20px;
  background-color: #42c7c1;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.small-banner img:hover ~ .banner-label {
  opacity: 1;
}

/* PRODUCT CARD */
.card-img-top {
  height: 190px;
  object-fit: cover;
}
.card-menu {
  height: 380px;
}
.card-menu .menu-desc {
  font-size: 14px;
}
.menu-rating {
  color: #38a7a1;
  font-size: 17px;
}
.card-link {
  margin-top: auto;
}
.card-link:hover {
  color: #38a7a1 !important;
}

/* FOOTER */
.contact {
  color: #42c7c1 !important;
}

/* AUTH */
.navigations {
  background: #ececec;
  padding: 5px;
  border-radius: 10px;
  width: 350px;
  margin: 20px auto 25px;
}

.nav-pills .nav-link {
  border-radius: 8px !important;
  color: #333;
  font-weight: 500;
  font-size: 15px;
  transition: .3s;
}

.nav-pills .nav-link.active {
  background: #42c7c1;
  color: #fff !important;
}

.form-info small a {
  color: #42c7c1;
}

/* RESPONSIVE BREAKPOINTS */
@media (max-width: 576px) {
  .header-4 {
    margin-top: 0;
  }

  .jumbotron {
    background-attachment: initial;
    height: 650px;
    background-position-x: -200px;
    margin-top: 0;
  }

  .jumbotron .container h1 {
    font-size: 42px;
  }

  .jumbotron .container p {
    font-size: 16px;
  }

  .carousel-item .carousel-item1 {
    background-position-x: -300px;
  }

  .carousel-item .carousel-item2 {
    background-position-x: -220px;
  }

  .carousel-item .carousel-item3 {
    background-position-y: 0;
  }

  .small-banner img:hover {
    filter: grayscale(0);
    transform: scale(1);
  }
}
